body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Candara
}
  
.header{
  width:100%;
  height: 80px;
  margin-top:-30px;
  background-color: red;
  padding-top:15px;
  padding-bottom:15px;
  border-bottom: 2px black solid
}

.header-left{
  margin-left:20px
}

.header-right{
  float:right;
  margin-top:-90px;
  margin-right:20px;
  color:white;
  cursor: pointer
}

.header-right:hover{
  color:black
}

.left-column{
  float:left;
  border:3px black solid;
  margin:20px;
  margin-top:10px;
  padding:8px;
  width:20%;
  height:100%
}

.left-column-title{
  margin:-8px;
  text-align:center;
  font-size:30px;
  background-color:red;
  padding:10px;
  border-bottom: 2px black solid;
  margin-bottom: 10px;
}

.red-btn{
  background-color: red;
  color:white;
  cursor: pointer;
  margin:5px
}

.red-btn:hover{
  color:black
}

.x-btn{
  float:right;
  margin-top:-8px;
  margin-right:-8px;
  font-size: 4;
  cursor: pointer
}

.x-button:hover{
  background-color: red
}

.small-form{
  width:35%;
  float:left;
  border:3px black solid;
  margin-top:10px;
  padding:8px;
  text-align: center;
  margin-bottom: 20px;
}

.input-field{
  width:55%;
  margin-left:5px;
  margin-right:5px
}
.input-field:hover{
  border-color: red;
}

.form-row{
  margin:5px
}

b{
  cursor: pointer;
}

.list{
  width: 100%;
}

.list-item{
  width:100%;
  margin-left:-40px;
  margin-top:-15px;
  list-style: none;
}

.list-title{
  margin-bottom:0px;
  cursor: pointer;
  text-transform:uppercase;
}
.list-title:hover{
  color:red
}

.character-form{
  width:70%;
  float:left;
  border:3px black solid;
  margin-top:10px;
  padding:8px;
  min-height:480px
}

.char-title{
  max-width: 200px;
  margin:5px;
  border:none;
  font-size: large;
  text-align: center;
}

.char-list{
  list-style: none;
  margin-left:-30px;
  margin-top: 0px;
}

.char-number{
  width: 40px;
  margin:5px;
  border:none;
  border-bottom: 1px grey solid;
  text-align: center;
}

.char-input{
  max-width: 150px;
  margin:5px;
  border:none;
  border-bottom: 1px grey solid;
}

.char-range{
  max-width: 90px;
  margin:5px;
  border:none;
  border-bottom: 1px grey solid;
}

.char-dmg{
  max-width: 80px;
  margin:5px;
  border:none;
  border-bottom: 1px grey solid;
}

.char-notes{
  max-width: 300px;
  margin:5px;
  border:none;
  border-bottom: 1px grey solid;
}

.char-table tr td{
  padding:4px;
  text-align: center;
  width: 25%
}

.char-area{
  height:150px;
  max-height: 300px;
  width:320px;
  resize:vertical;
}

.char-actions{
  margin: 20px;
}

.char-actions table{
  padding: 5px;
  border: 2px black solid;
}

.char-actions-heading{
  text-align: center;
  font-size: 20px;
}

.char-cell{
  vertical-align: top;
  margin-top:20px;
  border: 4px black solid;
  padding:10px;
}

.feature-title{
  float:left;
  border:none;
  font-size: 20px;
}

.feature-desc{
  width:100%;
  font-size: 14px;
  height:60px;
  resize:vertical;
}

.feature-btn{
  float: left;
  font-size: 10px;
}