body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Candara
}
  
.header{
  width:100%;
  height: 80px;
  margin-top:-30px;
  background-color: red;
  padding-top:15px;
  padding-bottom:15px
}

.header-left{
  margin-left:20px
}

.header-right{
  float:right;
  margin-top:-90px;
  margin-right:20px;
  color:white;
  cursor: pointer
}

.header-right:hover{
  color:black
}

.left-column{
  float:left;
  border:3px black solid;
  margin:20px;
  margin-top:10px;
  padding:8px;
  width:20%;
  min-height:480px
}

.left-column-title{
  margin:0px;
  text-align:center
}

.red-btn{
  background-color: red;
  color:white;
  cursor: pointer;
  margin:5px
}

.red-btn:hover{
  color:black
}

.x-btn{
  float:right;
  margin-top:-8px;
  margin-right:-8px;
  font-size: 4;
  cursor: pointer
}

.x-button:hover{
  background-color: red
}

.small-form{
  width:35%;
  float:left;
  border:3px black solid;
  margin-top:10px;
  padding:8px;
  text-align: center;
}

.input-field{
  width:55%;
  margin-left:5px;
  margin-right:5px
}
.input-field:hover{
  border-color: red;
}

.form-row{
  margin:5px
}

b{
  cursor: pointer;
}

.list{
  width: 100%;
}

.list-item{
  width:100%;
  margin-left:-40px;
  margin-top:-15px;
  list-style: none;
}

.list-title{
  margin-bottom:0px;
  cursor: pointer;
  text-transform:uppercase;
}
.list-title:hover{
  color:red
}